<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tul.manage.security.dao.DictTypeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tul.manage.security.entity.DictType">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="explain" property="explain" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="describe" property="describe" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, sort, explain, deleted, create_time, update_time ,describe
    </sql>

    <select id="listDictTypeData" resultMap="BaseResultMap">
        select
        *
        from
        dict_type
        <where>
            deleted=0
            <if test="name != null and name != '' ">
                and name like CONCAT('%',#{name},'%')
            </if>
            <if test="explain != null and explain != ''  ">
                and explain like CONCAT('%',#{explain},'%')
            </if>
            <if test="describe != null and describe != ''  ">
                and describe like CONCAT('%',#{describe},'%')
            </if>
        </where>
    </select>

</mapper>
